function UndeadChallenge.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
call Hero.new 0
pop this 0
call Zombie.new 0
pop this 1
push pointer 0
return
function UndeadChallenge.dispose 0
push argument 0
pop pointer 0
push this 0
call Hero.dispose 1
pop temp 0
push this 1
call Zombie.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function UndeadChallenge.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
label WHILE_EXP2
push local 0
push constant 131
eq
not
if-goto WHILE_END2
push this 0
call Hero.moveUp 1
pop temp 0
push this 1
call Zombie.moveUp 1
pop temp 0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP2
label WHILE_END2
label WHILE_EXP3
push local 0
push constant 133
eq
not
if-goto WHILE_END3
push this 0
call Hero.moveDown 1
pop temp 0
push this 1
call Zombie.moveDown 1
pop temp 0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP3
label WHILE_END3
label WHILE_EXP4
push local 0
push constant 130
eq
not
if-goto WHILE_END4
push this 0
call Hero.moveLeft 1
pop temp 0
push this 1
call Zombie.moveLeft 1
pop temp 0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP4
label WHILE_END4
label WHILE_EXP5
push local 0
push constant 132
eq
not
if-goto WHILE_END5
push this 0
call Hero.moveRight 1
pop temp 0
push this 1
call Zombie.moveRight 1
pop temp 0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP5
label WHILE_END5
label WHILE_EXP6
push local 0
push constant 0
eq
not
not
if-goto WHILE_END6
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP6
label WHILE_END6
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
