function Zombie.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push pointer 0
push this 0
call Zombie.drawRight 2
pop temp 0
push pointer 0
return
function Zombie.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Zombie.getXAxis 0
push argument 0
pop pointer 0
push this 1
return
function Zombie.getYAxis 0
push argument 0
pop pointer 0
push this 2
return
function Zombie.moveUp 0
push argument 0
pop pointer 0
push this 2
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
call Zombie.eraseZombie 2
pop temp 0
push this 0
push constant 64
sub
pop this 0
push this 2
push constant 2
sub
pop this 2
label IF_FALSE0
push pointer 0
call Zombie.moveLegsUp 1
pop temp 0
push constant 0
return
function Zombie.moveDown 0
push argument 0
pop pointer 0
push this 2
push constant 240
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
call Zombie.eraseZombie 2
pop temp 0
push this 0
push constant 64
add
pop this 0
push this 2
push constant 2
add
pop this 2
label IF_FALSE0
push pointer 0
call Zombie.moveLegsDown 1
pop temp 0
push constant 0
return
function Zombie.moveLeft 0
push argument 0
pop pointer 0
push this 1
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
call Zombie.eraseZombie 2
pop temp 0
push this 0
push constant 1
sub
pop this 0
push this 1
push constant 1
sub
pop this 1
label IF_FALSE0
push pointer 0
call Zombie.moveLegsLeft 1
pop temp 0
push constant 0
return
function Zombie.moveRight 0
push argument 0
pop pointer 0
push this 1
push constant 31
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
call Zombie.eraseZombie 2
pop temp 0
push this 0
push constant 1
add
pop this 0
push this 1
push constant 1
add
pop this 1
label IF_FALSE0
push pointer 0
call Zombie.moveLegsRight 1
pop temp 0
push constant 0
return
function Zombie.moveLegsRight 0
push argument 0
pop pointer 0
push pointer 0
push this 0
call Zombie.drawRunningRight 2
pop temp 0
push pointer 0
push this 0
call Zombie.drawRight 2
pop temp 0
push constant 0
return
function Zombie.moveLegsUp 0
push argument 0
pop pointer 0
push pointer 0
push this 0
call Zombie.drawRunningUp 2
pop temp 0
push pointer 0
push this 0
call Zombie.drawUp 2
pop temp 0
push constant 0
return
function Zombie.moveLegsLeft 0
push argument 0
pop pointer 0
push pointer 0
push this 0
call Zombie.drawRunningLeft 2
pop temp 0
push pointer 0
push this 0
call Zombie.drawLeft 2
pop temp 0
push constant 0
return
function Zombie.moveLegsDown 0
push argument 0
pop pointer 0
push pointer 0
push this 0
call Zombie.drawRunningDown 2
pop temp 0
push pointer 0
push this 0
call Zombie.drawDown 2
pop temp 0
push constant 0
return
function Zombie.eraseZombie 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Zombie.drawRunningRight 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16352
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 434
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 414
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 206
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 224
call Memory.poke 2
pop temp 0
push constant 0
return
function Zombie.drawRunningLeft 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1792
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1792
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 2044
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 19840
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 31104
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 29440
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1792
call Memory.poke 2
pop temp 0
push constant 0
return
function Zombie.drawRight 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 432
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 432
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 432
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 952
call Memory.poke 2
pop temp 0
push constant 0
return
function Zombie.drawLeft 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1792
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1792
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3456
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3456
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3456
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 7616
call Memory.poke 2
pop temp 0
push constant 0
return
function Zombie.drawUp 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1028
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1028
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1252
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1252
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1092
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1524
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2044
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 432
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 432
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 432
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 952
call Memory.poke 2
pop temp 0
push constant 0
return
function Zombie.drawRunningUp 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1028
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1028
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1252
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1252
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1092
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1524
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2044
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 432
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 432
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 952
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Zombie.drawDown 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 2546
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2546
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2546
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2546
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 2482
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 432
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 432
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 952
call Memory.poke 2
pop temp 0
push constant 0
return
function Zombie.drawRunningDown 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 2546
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2546
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2546
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2546
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 2482
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 432
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 952
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
